<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>入力画面</title>
</head>
<body>
  <form th:action="@{/form}" th:object="${user}" method="post">
    <p>
      <input type="submit" value="確認" id="confirm">
      <input type="reset" value="クリア" id="reset">
    </p>
    <p>
      <label for="name">氏名：</label>
      <input type="text" th:field="*{name}">
    </p>
    <p>
      <label for="email">E-Mail：</label>
      <input type="email" th:field="*{email}">
    </p>
    <p>
      <label for="age">年齢：</label>
      <input type="number" th:field="*{age}"><br>
    </p>
  </form>
</body>
</html>