<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'ユーザー登録確認画面', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="box">
    <div class="box-header">
      <h2>ユーザー登録</h2>
    </div>
    <div class="box-body">
      <form th:action="@{/register/complete}" th:object="${userRegisterForm}" method="post">
        <div class="row">
          <div class="col-md-12 form-group row-buttons">
            <input type="submit" value="登録" class="btn btn-primary row-button">
            <input type="button" value="戻る" class="btn btn-default row-button" onclick="history.back()">
          </div>
          <div class="col-md-12 form-group">
            <label for="name" class="col-md-2">NAME：</label>
            <span th:inline="text">[[${userRegisterForm.name}]]</span>
          </div>
          <div class="col-md-12 form-group">
            <label for="email" class="col-md-2">EMAIL：</label>
            <span th:inline="text">[[${userRegisterForm.email}]]</span>
          </div>
          <div class="col-md-12 form-group">
            <label for="age" class="col-md-2">AGE：</label>
            <span th:inline="text">[[${userRegisterForm.age}]]</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>