<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'ユーザー登録入力画面', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div th:include="common/navbar"></div>
  <div class="box">
    <div class="box-header">
      <h2>ユーザー登録</h2>
    </div>
    <div class="box-body">
      <form th:action="@{/register/confirm}" th:object="${userRegisterForm}" method="post">
        <div class="row">
          <div class="col-md-12 form-group row-buttons">
            <input type="submit" value="確認" class="btn btn-primary row-button">
            <input type="reset" value="クリア" class="btn btn-default row-button">
          </div>
          <div class="col-md-12 form-group">
            <label for="name" class="col-md-2">NAME :</label>
            <input type="text" th:field="*{name}">
          </div>
          <div class="col-md-12 form-group">
            <label for="email" class="col-md-2">EMAIL :</label>
            <input type="email" th:field="*{email}">
          </div>
          <div class="col-md-12 form-group">
            <label for="age" class="col-md-2">AGE :</label>
            <input type="number" th:field="*{age}">
          </div>
          <div class="col-md-12 form-group">
            <label for="password" class="col-md-2">PASSWORD :</label>
            <input type="password" th:field="*{password}">
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>