<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'Home', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="box">
    <div class="box-header">
      <h2>ユーザー一覧</h2>
    </div>

    <div class="box-body search-box">
      <form th:action="@{/}" method="get" th:object="${form}">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="name" class="col-md-2">NAME：</label>
            <input type="text" name="name" th:value="${form.name}">
          </div>
          <div class="col-md-6 form-group">
            <label for="email" class="col-md-2">EMAIL：</label>
            <input type="email" name="email" th:value="${form.email}">
          </div>
          <div class="col-md-6 form-group">
            <label for="age" class="col-md-2">AGE：</label>
            <input type="number" name="age" th:value="${form.age}">
          </div>
        </div>
        <input type="submit" value="検索" class="btn btn-default btn-block">
      </form>
    </div>

    <div class="box-body list-view">
      <p>
        <form method="post">
          <input type="button" value="新規登録" class="btn btn-primary registerButton" data-action="/register">
          <input type="button" value="ダウンロード" class="btn btn-default downloadButton" data-action="/download">
        </form>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th></th>
          </tr>
        </thead>
        <tr th:each="user : ${userList}" class="align-middle">
          <td th:text="${user.id}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.age}"></td>
          <td>
            <form th:action="@{/delete}" method="post">
              <input type="button" value="削除" class="btn btn-default deleteButton" data-action="/delete"></input>
              <input type="hidden" th:value="${user.id}" name="id"></input>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>